* {
    margin: 0px;
}
body {
    background: #000000;
    color: #fff;
    font-family: Arial;
}
.hero {
    height: calc(100vh - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/back.jpg);
    background-size: cover;
}
.hero img {
    width: 80%;
    height: auto;
}
h2 {
    text-align: center;
    margin-bottom: 10px;
}
.nav {
    width: 80%;
    height: 130px;
    background: #040b18;
    border-radius: 30px;
    margin: 0px auto;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 20px;
    padding: 20px 30px 10px 30px;
    border: 1px solid #fff;
    position: sticky;
    top: 10px;
    align-items: center;
}
.nav img {
    height: 110px;
}
.menus {
    width: 80%;
    margin: 50px auto;
}
.menuhamb {
    width: 100%;
}
.fix {
    display: flex;
    flex-direction: column;
}
.menus img {
    width: 100%;
    display: block;
}
footer {
    background: #030e1e;
    margin-top: 30px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
footer .legal {
    margin-left: 30px;
}
footer .redes {
    margin-right: 30px;
    width: 10%;
    display: flex;
    gap: 20px;
}
footer img {
    width: 100%;
}
.menuhamb {
    display: none;
}
.menupizzas {
    display: none;
}
.menubebidas {
    display: none;
}
.menupostres {
    display: none;
}
.menuextras {
    display: none;
}

@media screen and (max-width: 700px) {
    footer .redes {
        width: 20%;
    }
}
